@model int?

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<div class="item">
    @Html.ActionLink("Create user", "CreateUser")
</div>

<div id="users">
    @Html.Action("UsersData", Model)
</div>
