@model Statistics.Models.UsersListViewModel

@foreach (var user in Model.Users)
{
    <div class="form-horizontal">
        @Html.Partial("OneUser", user)
    </div>
}


@*@Html.Pager(Model.Pager, x => Url.Action("Users", new { controller = "Account", page = x }))*@
@Ajax.Pager(Model.Pager, "users", x => Url.Action("UsersData", new { controller = "Account", page = x }),
    x => Url.Action("UsersData", new { controller = "Account", page = x }))