body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a.pager
{
    display: inline-block;
    /*background-color: #3d5c5c;
    color: White;*/
    color: #993300;
    padding: 3px;
    margin-left: 4px;
    border: none;
}

a.pager:hover
{
    background-color: #f8cba5;
    color: black;
}

a.pager:visited
{
    color: #dc8357;
}

a.pager:active
{
    background-color: #edc8bc;
}

a.selected-page
{
    display: inline-block;
    /*background-color: #39ac73;
    color: White;*/
    padding: 3px;   
    margin-left: 4px; 
}
